# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

*.osm

*.geojson

*.pkl

# Ignore all text files


# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

venv/

*.json
*.csv
*.zip

__pycache__
*.pkl
data/input_data/inrix/SantaClara/santa_clara_2022-04-01_to_2022-06-01_60_min_part_1/EULA.txt
data/input_data/inrix/SantaClara/santa_clara_2022-04-01_to_2022-06-01_60_min_part_1/README.txt
data/created_data/models/models_dict.pkl
